body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
	padding: 20px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 20px 0;
}

table {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #ECEFF1;
}

.formula1-header {
	background-color: #C00000;
	color: white;
}

.formulaRegional-header {
	background-color: #FFC000;
	color: black;
}

.formula4-header {
	background-color: #92D050;
	color: black;
}

.nonFIA-header {
	background-color: #AEAAAA;
	color: black;
}

.usaSeries-header {
	background-color: #00B050;
	color: black;
}

.motorbikes-header {
	background-color: #0070C0;
	color: white;
}

.electric-header {
	background-color: #7030A0;
	color: white;
}

.karting-header {
	background-color: #C65911;
	color: white;
}

.formula1-pastel {
	background-color: #FFBABA;
}

.formulaRegional-pastel {
	background-color: #FFE6B3;
}

.formula4-pastel {
	background-color: #D9FFBF;
}

.nonFIA-pastel {
	background-color: #E6E6E6;
}

.usaSeries-pastel {
	background-color: #B3FFD9;
}

.motorbikes-pastel {
	background-color: #B3D9FF;
}

.electric-pastel {
	background-color: #D9B3FF;
}

.karting-pastel {
	background-color: #FFC299;
}

.icon-cell {
	width: 80%;
	text-align: left;
}

.icon-cell-social {
	width: 20%;
	text-align: center;
}

.icon-header-series,
.icon-header,
.icon-cell i {
	text-align: center;
}

.icon-header.ongoing {
  color: #00B050;
}

.icon-header.completed {
  color: #00B050;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.inner-table {
  width: calc(20% - 10px); /* 20% width minus some gap */
  margin: 5px; /* Adjust the gap between columns as needed */
  border: 1px solid #ccc; /* Styling for inner tables */
  padding: 10px;
}

.no-link {
	color: #AEAAAA;
	text-decoration: none;
}

h1::before {
	content: "\f024"; /* Unicode for flag icon */
	font-family: 'Font Awesome 5 Free';
	margin-right: 10px; /* Adjust spacing between icon and text */
}

th.icon-header::before {
	content: "";
	font-family: 'Font Awesome 5 Free';
	display: inline-block;
	margin-right: 5px; /* Adjust spacing between icon and text */
}

th.icon-header-series::before {
	content: "\f091"; /* Unicode for the trophy icon */
}

.fa-beat {
  animation: fa-beat 1s infinite;
}

.fa-flip {
  animation: fa-flip 1s linear infinite;
}

.red-icon {
  color: red;
}
